{
  "presets": [
    ["@babel/preset-env", { "targets": { "esmodules": true } }],
    ["@babel/preset-typescript", { "jsxImportSource": "preact" }],
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "preact" }]
  ]
}
